body
{
  color: white;
  background: rgb(59, 93, 172)
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed white;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: white;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
  
}
label{
  font-size:14px;
  padding:6px;
  border-radius: 10px;
  background-color:goldenrod;
  color:red;
}
.header_div p{
  color: gray;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}
.name_div button{
  margin: 30px; 
  width:140px;
  font-weight: bold;
  letter-spacing: 2px;
}
.copy_right_footer{
  position:fixed;
  color:azure;
  bottom:0;
  width:100px;
  font-size:18px;
  background-color:lightskyblue;
  line-height:3px;
  text-align:center;
}